flows_tiempo.json
[
    {
        "id": "ea0fb6cb.cde128",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ab6d84b7.13fe18",
        "type": "http request",
        "z": "ea0fb6cb.cde128",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "api.openweathermap.org/data/2.5/weather?q=Elche&appid=ab2352d806b61edda7497db5c01e42e1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "b8e00ac6.4a8be8"
            ]
        ]
    },
    {
        "id": "708c5664.6bfca8",
        "type": "inject",
        "z": "ea0fb6cb.cde128",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 157,
        "y": 141,
        "wires": [
            [
                "ab6d84b7.13fe18"
            ]
        ]
    },
    {
        "id": "b8e00ac6.4a8be8",
        "type": "json",
        "z": "ea0fb6cb.cde128",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 496,
        "y": 147,
        "wires": [
            [
                "38cb27e2.157388",
                "60636579.49d0ac",
                "e671994d.29c918",
                "669174d6.6499dc"
            ]
        ]
    },
    {
        "id": "38cb27e2.157388",
        "type": "debug",
        "z": "ea0fb6cb.cde128",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 150,
        "wires": []
    },
    {
        "id": "e671994d.29c918",
        "type": "function",
        "z": "ea0fb6cb.cde128",
        "name": "",
        "func": "msg.payload=msg.payload.weather[0].description\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 280,
        "wires": [
            [
                "a0f25556.509a98"
            ]
        ]
    },
    {
        "id": "a0f25556.509a98",
        "type": "debug",
        "z": "ea0fb6cb.cde128",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "60636579.49d0ac",
        "type": "function",
        "z": "ea0fb6cb.cde128",
        "name": "",
        "func": "msg.payload=msg.payload.name\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 220,
        "wires": [
            [
                "ef2c269.59e0cd8"
            ]
        ]
    },
    {
        "id": "ef2c269.59e0cd8",
        "type": "debug",
        "z": "ea0fb6cb.cde128",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "669174d6.6499dc",
        "type": "function",
        "z": "ea0fb6cb.cde128",
        "name": "",
        "func": "msg.payload=msg.payload.main.temp\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 360,
        "wires": [
            [
                "d5f508d7.a158e8"
            ]
        ]
    },
    {
        "id": "d5f508d7.a158e8",
        "type": "debug",
        "z": "ea0fb6cb.cde128",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 360,
        "wires": []
    }
]